<div class="container mt-5 mb-5">
    <div class="card mx-auto">
        <div class="card-header bg-dark">
            <h2 class="text-light">Reservation</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" formControlName="name" id="name">
                    <div class="text-danger" #errorDiv role="alert"
                        *ngIf="reservationForm.get('name')?.invalid && (reservationForm.get('name')?.dirty || reservationForm.get('name')?.touched)">
                        <div *ngIf="reservationForm.get('name')?.errors?.['required']">
                            Name is required...
                        </div>
                        <div *ngIf="reservationForm.get('name')?.errors?.['minlength']">
                            Name must be at least 3 characters long...
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" formControlName="email" id="email">
                    <div class="text-danger" #errorDiv role="alert"
                        *ngIf="reservationForm.get('email')?.invalid && reservationForm.get('email')?.dirty || reservationForm.get('email')?.touched">
                        <div *ngIf="reservationForm.get('email')?.errors?.['required']">
                           Email is required...
                        </div>
                        <div *ngIf="reservationForm.get('email')?.errors?.['email']">
                            Please enter a valid email...
                         </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" formControlName="phone" id="phone">
                    <div class="text-danger" #errorDiv role="alert"
                        *ngIf="reservationForm.get('phone')?.invalid && reservationForm.get('phone')?.dirty || reservationForm.get('phone')?.touched">
                        <div *ngIf="reservationForm.get('phone')?.errors?.['required']">
                           Phone number is required...
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" formControlName="date" id="date">
                    <div class="text-danger" #errorDiv role="alert"
                        *ngIf="reservationForm.get('date')?.invalid && reservationForm.get('date')?.dirty || reservationForm.get('date')?.touched">
                        <div *ngIf="reservationForm.get('date')?.errors?.['required']">
                           Date is required...
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="time">Time</label>
                    <input type="time" class="form-control" formControlName="time" id="time">
                    <div class="text-danger" #errorDiv role="alert"
                        *ngIf="reservationForm.get('time')?.invalid && reservationForm.get('time')?.dirty || reservationForm.get('time')?.touched">
                        <div *ngIf="reservationForm.get('time')?.errors?.['required']">
                           Time is required...
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pax">Number of pax</label>
                    <input type="number" class="form-control" formControlName="pax" id="pax">
                    <div class="text-danger" #errorDiv role="alert"
                        *ngIf="reservationForm.get('pax')?.invalid && reservationForm.get('pax')?.dirty || reservationForm.get('pax')?.touched">
                        <div *ngIf="reservationForm.get('pax')?.errors?.['required']">
                           Number of people is required...
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-info mt-3" [disabled]="reservationForm.invalid">SUBMIT</button>
            </form>
        </div>
    </div>
</div>
<ng-template #successModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title text-success">Success!</h5>
        <button class="close" type="button" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5 class="text-success text-center">Your submission was successful!</h5>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-success" type="button" (click)="c('Close click')">Close</button>
    </div>
</ng-template>