<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="text-center">Gallery</h4>
        </div>
    </div>
    <div class="row mt-1 g-5 d-flex justify-content-center align-items-center">
        <div class="col-lg-6">
            <div class="card bg-dark text-light">
               <img src="../../../assets/wine_cheers.jpeg" alt="wine glasses" class="card-img img-fluid float-left">
               <div class="card-img-overlay">
                <h4 class="card-title">Premium Wines</h4>
               </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card bg-dark text-light">
               <img src="../../../assets/bartender.jpeg" alt="bartender" class="card-img img-fluid float-left">
               <div class="card-img-overlay">
                <h4 class="card-title">Cocktails</h4>
               </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 g-5 d-flex justify-content-center align-items-center">
        <div class="col-lg-6">
            <div class="card bg-dark text-light">
               <img src="../../../assets/wine_cheers.jpeg" alt="wine glasses" class="card-img img-fluid float-left">
               <div class="card-img-overlay">
                <h4 class="card-title">Premium Wines</h4>
               </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card bg-dark text-light">
               <img src="../../../assets/bartender.jpeg" alt="bartender" class="card-img img-fluid float-left">
               <div class="card-img-overlay">
                <h4 class="card-title">Cocktails</h4>
               </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 g-5 d-flex justify-content-center align-items-center">
        <div class="col-lg-6">
            <div class="card bg-dark text-light">
               <img src="../../../assets/wine_cheers.jpeg" alt="wine glasses" class="card-img img-fluid float-left">
               <div class="card-img-overlay">
                <h4 class="card-title">Premium Wines</h4>
               </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card bg-dark text-light">
               <img src="../../../assets/bartender.jpeg" alt="bartender" class="card-img img-fluid float-left">
               <div class="card-img-overlay">
                <h4 class="card-title">Cocktails</h4>
               </div>
            </div>
        </div>
    </div>
</div>