<nav class="navbar navbar-expand-lg navbar-light">
    <a href="#" class="navbar-brand ms-5">
        <img src="../../assets/Rose Gold Brush Glitter Feminine Boutique Circle Logo.png" width="80" height="80" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let item of menuItems">
                <a class="nav-link ms-5" routerLink="{{ item.link }}">{{ item.name }}</a>
            </li>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" *ngFor="let item of menuItems" routerLink="{{ item.link }}">{{ item.name }}</a>
            </div>
        </ul>
    </div>
</nav>