<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-12">
            <div id="carousel-slider" class="carousel slide" data-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-slider" data-slide-to="1"></li>
                  <li data-target="#carousel-slider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/wine_cheers.jpeg" class="d-block w-100" alt="Image 1">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/bartender.jpeg" class="d-block w-100" alt="Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/man_with_booze.jpeg" class="d-block w-100" alt="Image 3">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
              </div>     
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12">
            <h1 class="text-center">Welcome to the Bar Luna</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6">
            <img src="../../../assets/dj.jpeg" alt="dj" class="img img-fluid">
        </div>
        <div class="col-lg-6">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt explicabo quae veritatis vel rerum odio est sed unde, dicta enim, ut quo voluptate ea vero doloribus, alias blanditiis pariatur quod saepe eos ab minima ipsam tempore! Nisi rem neque facilis quo repellat, sint ab. Nisi a, officia provident saepe dolores quibusdam eum! Nihil placeat quod nostrum dolorum? Quae adipisci ducimus quidem ut maxime placeat. Odit deserunt quos illum dignissimos atque dolor odio a maiores ipsum recusandae ratione quam sequi aut quibusdam natus non labore animi, dicta sit eos blanditiis ducimus. Iure sed quae quaerat, delectus dolorum laborum corrupti esse? Explicabo?</p>
        </div>
    </div>
</div>