<footer class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-3">
                <p class="m-0">&copy; 2023 Bar Luna. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline text-md-right d-flex flex-row-reverse align-items-center m-0 pt-2">
                    <li class="list-inline-item ps-5"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Sitemap</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>